@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: auto;
    font-weight: auto;
  }

  :root {
    --background: 41 56% 95%;
    --foreground: 41 5% 10%;
    --card: 41 50% 90%;
    --card-foreground: 41 5% 15%;
    --popover: 41 56% 95%;
    --popover-foreground: 41 95% 10%;
    --primary: 41 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 41 30% 82%;
    --secondary-foreground: 0 0% 0%;
    --muted: 3 30% 85%;
    --muted-foreground: 41 5% 40%;
    --accent: 3 30% 82%;
    --accent-foreground: 41 5% 15%;
    --destructive: 0 56% 50%;
    --destructive-foreground: 41 5% 90%;
    --border: 41 30% 82%;
    --input: 41 30% 50%;
    --ring: 41 88% 58%;
    --radius: 0.75rem;
    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 41 50% 10%;
    --foreground: 41 5% 90%;
    --card: 41 50% 10%;
    --card-foreground: 41 5% 90%;
    --popover: 41 50% 5%;
    --popover-foreground: 41 5% 90%;
    --primary: 41 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 41 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 3 30% 25%;
    --muted-foreground: 41 5% 65%;
    --accent: 3 30% 25%;
    --accent-foreground: 41 5% 90%;
    --destructive: 0 56% 50%;
    --destructive-foreground: 41 5% 90%;
    --border: 41 30% 50%;
    --input: 41 30% 50%;
    --ring: 41 88% 58%;
    --radius: 0.75rem;
    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
